#root {
  display: flex
}

/* body {
  
} */

.game-container {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;

position: relative;


background: #F2C94C;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}

.active-button {
  background: #219653;
}

.hovered-button {
  background: #d32929;
}

.inactive-button {
  background: #a7a7a7;
}

.felt-table-box {
  position: relative;
  width: 801px;
  height: 213px;
  margin: 10px 0px;
  background: #99648A;
  border: 5px solid #000000;
  box-sizing: border-box;
  }

.button-text {
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #F2F2F2;
}
