body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


#root {
  display: flex;
  flex-flow: column wrap;
}

.deck {
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  width: 120px;
  height: 200px;
  background-color: #FFF;
  border-radius: 8px;
  border: 1px solid black;
  margin: 16px;
  padding: 4px;
}

.card-back {
  display: flex;
  width: 120px;
  height: 200px;
  background-color: rgb(187, 31, 31);
  border-radius: 8px;
  border: 3px solid green;
  margin: 16px;
  padding: 4px;
}

.card-orange{
  color: orange;
}

.card-green {
  color: green;
}


.card-red {
  color: red;
}

.card-blue {
  color: blue;
}

.card-value {
  font-size: 30px;
}

.card-suit {
  font-size: 30px;
}

.bonus-value {
  font-size: 14px;
  color: black;
}

.bonus-suit {
  border-radius: 4px;
  border: 1px solid black;
  font-size: 16px;
  padding: 2px;
  background-color: rgba(254, 0, 178, 0.461);
}

.card-tl {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.card-br {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  transform:translate(-5px, 135px);
}

input[type=button] {
  padding: 8px 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: red;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
}